.shop-header{
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-header .logo{
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5rem;
    padding-left: 1rem;
    text-decoration: none;
}

.shop-header .shopping-cart{
    align-self: center;
    font-size: 1.3rem;
    padding-right: 1rem;
    color: blueviolet;
}

.shop-header .cart-info{
    font-size: 1.2rem;
    margin-right: 10px;
}

.shop-header a{
    text-decoration: none;
    color: black;
}